* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3EAE3;
    display: grid;
    min-height: 100vh;
    place-items: center;
}

.container {
    max-width: 22rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.perfume-image {
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 920px) {
    .container {
        flex-direction: row;
        max-width: 37rem;
    }

    .perfume-image {
        height: 100%;
    }
}

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #6c7289;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.perfume-info {
    padding: 1.5em;
}

.perfume-name {
    font-family: 'Fraunces', serif;
    font-size: 1.9rem;
    color: #1c232b;
}

.perfume-description, .price-original {
    font-family: 'Montserrat', sans-serif;
    color: rgb(116, 115, 115);
    font-size: 14px;
}

.perfume-description {
    margin: 15px 0;
    line-height: 1.5;
}

.price-discount {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    color: #3D8168;
}

.price-original {
    text-decoration: line-through;
    vertical-align: super;
    margin-left: 20px;
}

.cart-button {
    width: 100%;
    margin-top: 1em;
    height: 3.5em;
    background-color: #3D8168;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cart-button:hover {
    cursor: pointer;
    background-color: #2f5f4c;
}

.cart-image {
    width: 25px;
}